<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Request this item</title>
		<link href="request.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	  	<base href="/">
	</head>
	<body ng-app="ezBorrowAPI" ng-controller="ezBorrowAPIController">
	  <div id="pitt-header"><a href="https://pittcat.pitt.edu"><img src="img/logos.png" alt="University of Pittsburgh Pittcat"></a>
	  </div>
	  <div id="main-content">
	  	<h1>Request This Item</h1>
	  <p ng-if="ezsearch">{{message}}</p>
	  <a href="{{illiadLink}}" ng-if="unavailable">Order from Interlibrary Loan</a>
	  <br>
	  <a href="{{pittcatLink}}" ng-if="recall">Request a Recall</a>
    <form ng-if="pickform" ng-submit="submit()">
		<label for="ezbPickupLocs">Choose a pickup location:</label>
		<select id="ezbPickupLocs" ng-options="plocation.PickupLocationDescription as plocation.PickupLocationDescription for plocation in locations track by plocation.PickupLocationCode" ng-model="pickup">
		</select>
		<br>
		<label for="notes">Notes: If you need a specific volume from a multivolume set, indicate that here.  <br>If you would like a no-contact pickup outside the location you chose, enter 'no contact pickup' as well</label>
		<br>
		<input name="notes" type="text" ng-model="notes">
		<br>
		<input type="submit" id="ezRequestSubmit" value="Order this book">
	</form>
	<p ng-if="showConf">Confirmation: {{conf}}</p>
   </body>
   </div>
<script>
var app=angular.module('ezBorrowAPI',[]);
app.config(['$locationProvider', function ($locationProvider) { $locationProvider.html5Mode(true); }]);
app.controller('ezBorrowAPIController',['$window','$location','$scope','$http', function($window,$location,$scope,$http){

    //Get params from url for use in constructing illiad url
	var title = encodeURI($location.search().title);
	var author = encodeURI($location.search().author);
	var publisher = encodeURI($location.search().publisher);
	var location = encodeURI($location.search().location);
	var year = encodeURI(location.search().year);
	var requestType = encodeURI($location.search().requesttype);
	var oclc = encodeURI($location.search().oclc);
	var issn = encodeURI($location.search().issn);
	var volume = encodeURI($location.search().volume);
	var issue = encodeURI($location.search().issue);
	var month = encodeURI($location.search().month);
	var atitle = encodeURI($location.search().atitle);
	var pages = encodeURI($location.search().pages);
	var pickup = encodeURI($location.search().pickup);
	var referrer = encodeURI($location.search().referrer);
	var recall = encodeURI($location.search().recall);
	//display wait message
	$scope.ezsearch = true;
    $scope.message = 'Searching EZ-Borrow partner libraries. Takes approximately 30 seconds...';
	
	//Search for the book in EZ Borrow
	//if the query string param variables are undefined they'll break it
	$http.get('workflow.php?title='+title+'&author='+author+'&publisher='+publisher+'&location='+location+'&year='+year+'&requesttype='+requestType+'&oclc='+oclc+'&issn='+issn+'&volume='+volume+'&issue='+issue+'&month='+month+'&atitle='+atitle+'&pages='+pages+'&ajax=true')
	.then(function(response) {
		var response = angular.fromJson(response.data);
		if (response.Problem){
			$scope.message = response.Problem.Message;
	  	}
		else if(response.AuthError){
			$scope.message = response.AuthError;
		}
		else{
			//EZ-BORROW
			if (response.Available){
				$scope.pickform = true;//response.Available;
				$scope.ezsearch = true;
				$scope.message=response.RequestLink.RequestMessage;
    			//$scope.message =  response.Available;
    			$scope.locations = response.PickupLocation;
				$scope.pickup = '';
				$scope.notes = '';
			}
			//ILLIAD OR RECALL
			else{
				$scope.message= 'This book is not available through EZ-Borrow. Would you like to place an Interlibrary Loan Request? This service takes 7-14 days.';
				$scope.unavailable = true;
				$scope.illiadLink = response.illiadLink;
				//https://pitt-psb.primo.exlibrisgroup.com/discovery/fulldisplay?docid=alma9986061173406236&context=L&vid=01PITT_INST:01PITT_INST
				if (recall==='true'){
					$scope.recall = true;
					$scope.pittcatLink = 'https://pitt-psb.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=01PITT_INST:ezborrow&docid='+referrer+'&recall=true';
				}
			}
		}
	}).catch(function() {
	  console.log('ajax failure');// handle errors
	  });;
//once the user submits a pickup location, we send the request to Relais and wait for confirmation that the book is ordered
$scope.submit = function(){
	$scope.ezsearch = false;
	$scope.pickform = false;
	$scope.showConf = true;
	$scope.conf = 'Waiting for response...';
	$http.get('workflow.php?pickup='+this.pickup+'&notes='+this.notes+'&oclc='+oclc+'&ajax=true')
	.then(function(response){
		var response = angular.fromJson(response.data);
		if (response.Problem){
			$scope.conf=response.Problem.Message;
		}
		else{
			$scope.conf='Your request number is: ' + response.RequestNumber;
		}
	});
}
}]);
//<!--<option id="locationDefaultOption" selected="selected" value="defalt" disabled>Choose a location</option>-->
</script>
</html>
