<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Request this item</title>
		<link href="request.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
	  	<base href="/">
	</head>
	<body ng-app="ezBorrowAPI" ng-controller="ezBorrowAPIController">
		<div id="pitt-header">
			<a href="https://pittcat.pitt.edu">
				<img src="img/logos.png" alt="University of Pittsburgh Pittcat">
			</a>
	  	</div>
	  	<div id="main-content">
	  		<h1>Request This Item</h1>
	  		<p ng-if="ezsearch">{{message}}</p>
	  		<p ng-if="autherror">Error: Failed to connect to your library account. Please <a href="https://www.library.pitt.edu/ask-us">Ask Us</a> for assistance.</p>
		  	<p ng-if="ajaxerror">Error: Failed to complete your request. Please <a href="https://www.library.pitt.edu/ask-us">Ask Us</a> for assistance.</p>	
			<a href="{{illiadLink}}" ng-if="unavailable">Order from Interlibrary Loan</a>
	  		<br>
	  		<p ng-if="recall">You may also 
				<a href="{{pittcatLink}}">Request a Recall</a>: Recalling an item means that we will shorten the loan period for the person who currently has this item checked out. This service may take up to four weeks</a>
			</p>
			<form ng-if="pickform" ng-submit="submit()">
				<label for="ezbPickupLocs">Choose a pickup location:</label>
				<select id="ezbPickupLocs" ng-options="plocation.PickupLocationDescription as plocation.PickupLocationDescription for plocation in locations track by plocation.PickupLocationCode" ng-model="pickup" required>
				</select>
				<br>
				<p class="redtext"  ng-if="invalidpickup">{{invalidpickup}}</p>
				<br>
				<label for="notes">Please indicate if you need a specific volume from a multivolume set in the notes field below. 
					<p> 
					Please note that due to COVID-19, this service may take longer than usual.
					</p>
				</label>
				<input name="notes" type="text" placeholder="Notes" ng-model="notes">
				<br>
				<input type="submit" id="ezRequestSubmit" value="Order this book">
			</form>
			<p ng-if="showConf">{{conf}}</p>
		</div>
	</body>
<script>
var app=angular.module('ezBorrowAPI',[]);
app.config(['$locationProvider', function ($locationProvider) { $locationProvider.html5Mode(true); }]);
app.controller('ezBorrowAPIController',['$window','$location','$scope','$http', function($window,$location,$scope,$http){

    //Get params from url for use in constructing illiad url
	var title = encodeURI($location.search().title);
	var author = encodeURI($location.search().author);
	var publisher = encodeURI($location.search().publisher);
	var publocation = encodeURI($location.search().publocation);
	var year = encodeURI($location.search().year);
	var requestType = encodeURI($location.search().requesttype);
	var oclc = encodeURI($location.search().oclc);
	var issn = encodeURI($location.search().issn);
	var volume = encodeURI($location.search().volume);
	var issue = encodeURI($location.search().issue);
	var month = encodeURI($location.search().month);
	var atitle = encodeURI($location.search().atitle);
	var pages = encodeURI($location.search().pages);
	var pickup = encodeURI($location.search().pickup);
	var referrer = encodeURI($location.search().referrer);
	var recall = encodeURI($location.search().recall);
	//display wait message
	$scope.ezsearch = true;
    $scope.message = 'Searching E-ZBorrow partner libraries. Takes approximately 30 seconds...';
	
	//Search for the book in EZ Borrow
	//if the query string param variables are undefined they'll break it
	$http.get('workflow.php?title='+title+'&author='+author+'&publisher='+publisher+'&location='+publocation+'&year='+year+'&requesttype='+requestType+'&oclc='+oclc+'&issn='+issn+'&volume='+volume+'&issue='+issue+'&month='+month+'&atitle='+atitle+'&pages='+pages+'&ajax=true')
	.then(function(response) {
		var response = angular.fromJson(response.data);
		if(response.AuthError){
			$scope.ezsearch=false;
			$scope.autherror=true;
		}
		else if(response.Ineligible){
			$scope.message = 'Your user group is ineligible to place E-ZBorrow requests. Would you like to place an Interlibrary Loan Request? This service takes 7-14 days.'
			$scope.unavailable = true;
			$scope.illiadLink = response.illiadLink;
		}
		else{
			//EZ-BORROW
			if (response.Available){
				$scope.pickform = true;//response.Available;
				$scope.ezsearch = true;
				$scope.message='This item is available from E-ZBorrow.  You may place a request using the form below.';
    			//$scope.message =  response.Available;
    			$scope.locations = response.PickupLocation;
				$scope.pickup = '';
				$scope.notes = '';
			}
			//ILLIAD OR RECALL
			else{
				$scope.message= 'This item is not available through E-ZBorrow. Would you like to place an interlibrary loan request from another library? Please note that due to COVID-19, this service may take up to four weeks.';
				$scope.unavailable = true;
				$scope.illiadLink = response.illiadLink;
				//recall can be an option with the addition of a module in Primo
				/*
				if (recall==='true'){
					$scope.recall = true;
					$scope.pittcatLink = 'https://pitt-psb.primo.exlibrisgroup.com/discovery/fulldisplay?context=L&vid=01PITT_INST:ezborrow&docid='+referrer+'&recall=true';
				}
				*/
			}
		}
	}).catch(function() {
		$scope.ezsearch=false;
		$scope.ajaxerror=true;
	  });
//once the user submits a pickup location, we send the request to Relais and wait for confirmation that the book is ordered
$scope.submit = function(){
	if(this.pickup !== ''){
	$scope.ezsearch = false;
	$scope.pickform = false;
	$scope.showConf = true;
	$scope.conf = 'Submitting your request. This takes about 30 seconds.  You will see a confirmation message when it completes...';
	$http.get('workflow.php?pickup='+this.pickup+'&notes='+this.notes+'&oclc='+oclc)
	.then(function(response){
		var response = angular.fromJson(response.data);
		if (response.Problem){
			$scope.conf=response.Problem.ErrorMessage;
		}
		else{
			$scope.conf='Your request was submitted successfully and has been sent to one of our partner libraries. E-mail messages will be automatically sent to update you on its progress. We will also e-mail you when your request is available for pick up. ';
			console.log('Relais Request Number:' + response.RequestNumber);
		}
	}).catch(function() {
	$scope.showConf=false;
	$scope.ajaxerror=true;
	});
}

else{
	$scope.invalidpickup='You must select a pickup location';
}
}
}]);
//<!--<option id="locationDefaultOption" selected="selected" value="defalt" disabled>Choose a location</option>-->
</script>
</html>
