@charset "utf-8";
body{background-color:#e9e9e9;}

#pitt-header{with:100%;max-height:100%;height:4.75em;background-color:#00205B;padding-right:2em;}
#pitt-header img{margin:.7em;max-height:100%;max-width:100%;}
#main-content{max-width:50em;max-height:100%;margin:0px auto;}

h1 {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:400;color:#3a3a3a;}
p, label{font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.redtext{color: red;}
